#aboutInfo {
    width: 50%;
    /* float: right; */
    background-color:#a1f17e;
    font-size: 30px;
    font-family: MV boli;
    text-shadow: 2px 2px 2px rgb(228, 243, 195);
    margin-bottom: 8%;
    padding: .3%;
    margin-top:50px;
    margin-left: 5%;
}
#aboutPhoto {
    background-image:url('../pics/aboutPhoto.jpg');
    width:33%;
    margin-left:63%;
    margin-top: -35%;
    height:410px;
    margin-bottom: 3.5%;
    background-size:cover;

}
#aboutBackground{
/* border: red solid; */
height:82%
}
